<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola <%= @user.name %> <%= @user.lastname %></h1>
    <p>Ahora debes ingresar <%= link_to " Aqui", recuperar_contrasena_url(@user.id) %>, para actualizar tu contraseña</p>

    <p>Gracias por preferir <%= link_to "Estudio Vienna! ", "http://www.estudiovienna.cl" %></p>
  </body>
</html>